/* External css files import */
@import "./Components/kube-ui.css";
@import "./docs-css/docs-nav.css";
@import "./docs-css/docs-sidebar.css";
@import "./docs-css/docs-body.css";
@import "./docs-css/docs-code.css";
@import "./docs-css/docs-footer.css";
/* @import "./utility.css"; */

.doc-page-layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "header header header header header header"
    "sidebar main main main main main"
    "footer footer footer footer footer footer";
}
.navbar {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;

}
.main-section {
  grid-area: main;
  box-sizing: border-box;
  max-width: 100vw;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  border-left: 1px solid var(--dark-secondary-color);
}
.footer {
  grid-area: footer;
}
.primary-text{
  color: var(--primary-color);
}
.landing-page{
  height: calc(100vh - 3.4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-content{
  width: 60vw;
  text-align: center;
}

@media screen and (max-width: 640px){
  .doc-page-layout{
    grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
  }
}