.alert:last-of-type {
  margin-bottom: 0;
}
.alert-primary {
  background-color: var(--info-color);
  border-radius: 0.2em;
  color: var(--info-text-color);
}
.alert-secondary {
  background-color:  var(--dark-secondary-color);
  border-radius: 0.2em;
  color: var(--dark-secondary-text-color);
}
.alert-success {
  background-color: var(--light-success-color);
  border-radius: 0.2em;
  color: var(--success-text-color);
}
.alert-warning {
  background-color: var(--warning-color);
  border-radius: 0.2em;
  color: var(--warning-text-color);
}
.alert-danger {
  background-color: var(--light-danger-color);
  border-radius: 0.2em;
  color: var(--danger-text-color);
}
.alert-icon {
  margin-right: 0.5em;
}
.w-100 {
  width: 50%;
}
.alert-dismissible {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
}
.btn-close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.5rem 0.5rem;
  color: var(--dark-secondary-text-color);
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  font-size: 1.1rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

