.bttn {
  display: inline-block;
  padding: 0.5em 0.8em;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}
.bttn-primary {
  background-color: var(--primary-color);
  color: var(--complimentary-text-color);
}
.bttn-secondary {
  background-color: var(--dark-secondary-color);
  color: var(--dark-secondary-text-color);
}
.bttn-info {
  background-color: var(--info-color);
  color: var(--complimentary-text-color);
}
.bttn-danger {
  background-color: var(--light-danger-color);
  color: var(--complimentary-text-color);
}
.bttn-success {
  background-color: var(--success-color);
  color: var(--complimentary-text-color);
}
.bttn-outline-primary {
  border: 1px solid var(--primary-color);
  background-color: var(--complimentary-text-color);
  color: var(--primary-color);
}
.bttn-outline-secondary {
  border: 1px solid var(--dark-secondary-color);
  background-color: var(--complimentary-text-color);
  color: var(--dark-secondary-text-color);
}
.bttn-outline-info {
  border: 1px solid var(--info-color);
  background-color: var(--complimentary-text-color);
  color: var(--info-color);
}
.bttn-outline-danger {
  border: 1px solid var(--light-danger-color);
  background-color: var(--complimentary-text-color);
  color: var(--light-danger-color);
}
.bttn-outline-success {
  border: 1px solid var(--success-color);
  background-color: var(--complimentary-text-color);
  color: var(--success-color);
}
.bttn-lg {
  padding: 0.5em 1.2em;
  font-size: 1.25rem;
}
.bttn-sm {
  padding: 0.4em 0.8em;
  font-size: 0.8rem;
}
.bttn-icon {
  margin-right: 0.5em;
}
.bttn-primary:disabled {
  background-color: var(--light-primary-color);
  color: var(--complimentary-text-color);
}
.bttn:disabled {
  pointer-events: none;
  opacity: 0.65;
}
.link-text-primary {
  color: var(--dark-secondary-text-color);
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: var(--primary-color);
}
.link-text-primary:hover {
  color: var(--primary-color);
}
.bttn-float-icon {
  border-radius: 50%;
  height: 3em;
  width: 3em;
}
