.input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0 1rem 0.7rem 1rem;
    box-sizing: border-box;
    font-size: 0.8rem;
    line-height: 1;
}
.input-section{
    padding: 0.5rem 0.7rem;
    margin: 0.6rem 0rem;
}
.error{
    color: var(--danger-color);
}