
@import "./alert.css";
@import "./avatar.css";
@import "./badge.css";
@import "./button.css";
@import "./card.css";
@import "./image.css";
@import "./input.css";
@import './list.css';
@import "./rating.css";
@import "./nav.css";
@import "./grid.css";
@import "../utility.css";
@import "./toast.css";
@import "./modal.css";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  color: #3e4152;
}

:root {
  --primary-color: #7c0bc2;
  --light-primary-color: #a855f7;
  --dark-primary-color: #4f0d75;

  --complimentary-text-color: white;

  --secondary-text-color: #696b79;
  --dark-secondary-text-color: #3f4049;
  --secondary-color: #eaeaec;
  --dark-secondary-color: #d8d8da;

  --light-success-color: #4ade80;
  --success-text-color: #14532d;
  --success-color: #339133;
  --danger-color: #eb3737;
  --bright-yellow: #ffa500;
  --warning-color: #fde68a;
  --warning-text-color: #e09004;
  --info-color: #60a5fa;
  --info-text-color: #1e3a8a;
  --light-danger-color: #f87171;
  --danger-text-color: #b91c1c;

  --inactive-color: rgb(191, 192, 198);
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;
}

