.list-group {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 12.5rem;
  width: 12.5rem;
}
.list-group li{
  list-style-type: disc;
}
.list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.list-circled li {
  list-style-type: circle;
}
.list-square li{
  list-style-type: square;
}
.check-list {
  display: flex;
  flex-direction: column;
}
.checklist input {
  cursor: pointer;
}
