.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 3.875rem;
  height: 83vh;
  overflow-y: auto;
  min-width: 13rem;
  padding: 1rem 1rem 1rem 2rem;
}
.side-navbar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.subtitle {
  color: #909396;
  line-height: 1rem;
}
.drawer-menu {
  height: 100%;
  overflow-y: auto;
}
.nav-lists {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.3rem;
  list-style: none;
}
.nav-link .icon {
  color: var(--dark-grey);
  margin-right: 1.5rem;
}
a {
  display: block;
  text-decoration: none;
  color: var(--complimentary-text-color);
}
.nav-link {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: #3f4049;
}
.nav-link:hover {
  background-color: var(--secondary-color);
  transition: all 0.2s ease;
  color: var(--primary-color);
  font-weight: bold;
}
.drawer-app-content {
  position: relative;
  border-left: 1px solid var(--secondary-light-gray);
}
.drawer-top-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  background-color: var(--primary-light-purple);
  color: white;
  height: 4rem;
  padding: 0.68rem 0.875rem;
}
.drawer-top-bar h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 1rem;
}
.drawer-main-content {
  height: 100%;
  overflow-y: auto;
  padding: 0px 18px;
}
.fixed {
  padding-top: 4rem;
}
p{
  margin: 1rem 0;
}

/* Hamburger sidebar from FERN */
.sidebar-wrapper {
  background-color: rgba(0, 0, 0, 0.562);
  position: fixed;
  top: 3.6rem;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.43, 0.96);
}
.sidebar-content {
  max-width: 16.875rem;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--complimentary-text-color);
  transform: translate(-100%, 0);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.43, 0.96);
}
.sidebar-item {
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 740px) {
  .sidebar-toggler {
    display: block;
  }
  .sidebar{
    display: none;
  }
  .sidebar-wrapper.show {
    visibility: visible;
    opacity: 1;
  }
  .sidebar-content.view {
    transform: translateX(0);
  }
}
 
